/* Tailwind base layer configuration */

/* Tailwind core utilities */
@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Enable daisyUI */
@plugin "daisyui" {
	/* Limit themes to light and dark with sensible defaults */
	themes: light --default, dark --prefersdark;
	exclude: properties;
}

/* Light theme */
@plugin "daisyui/theme" {
	name: "light";
	default: true;
	color-scheme: light;

	--color-primary: oklch(0.4893 0.1321 293.38);
	--color-primary-content: oklch(95% 0 0 );
	--color-secondary: oklch(0.6682 0.0883 276.34);
	--color-secondary-content: oklch(5% 0 0);

	--color-accent: oklch(0.5469 0.2021 1.74);
	--color-accent-content: oklch(95% 0 0 );
	--color-neutral: oklch(27.441% 0.013 253.041);
	--color-neutral-content: oklch(95% 0 0);

	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(93% 0 0);
	--color-base-300: oklch(86% 0 0);
	--color-base-content: oklch(22.389% 0.031 278.072);

	--color-success: oklch(62% 0.194 149.214);
	--color-success-content: oklch(100% 0 0);
	--color-warning: oklch(85% 0.199 91.936);
	--color-warning-content: oklch(0% 0 0);
	--color-error: oklch(70% 0.191 22.216);
	--color-error-content: oklch(0% 0 0);

	--radius-selector: 2rem;
	--radius-field: 2rem;
	--radius-box: 2rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 2px;
	--depth: 0;
	--noise: 0;
}

/* Dark theme */
@plugin "daisyui/theme" {
	name: "dark";
	prefersdark: true;
	color-scheme: dark;

	--color-primary: oklch(0.4893 0.1321 293.38);
	--color-primary-content: oklch(95% 0 0 );
	--color-secondary: oklch(0.6682 0.0883 276.34);
	--color-secondary-content: oklch(5% 0 0);

	--color-accent: oklch(0.5469 0.2021 1.74);
	--color-accent-content: oklch(95% 0 0 );
	--color-neutral: oklch(27.441% 0.013 253.041);
	--color-neutral-content: oklch(95% 0 0);

	--color-base-100: oklch(24.353% 0 0);
	--color-base-200: oklch(22.648% 0 0);
	--color-base-300: oklch(20.944% 0 0);
	--color-base-content: oklch(95% 0 0);

	--color-info: oklch(62.616% 0.143 240.033);
	--color-info-content: oklch(5% 0 0);
	--color-success: oklch(70.226% 0.094 156.596);
	--color-success-content: oklch(5% 0 0);
	--color-warning: oklch(77.482% 0.115 81.519);
	--color-warning-content: oklch(5% 0 0);
	--color-error: oklch(51.61% 0.146 29.674);
	--color-error-content: oklch(95% 0 0);

	--radius-selector: 2rem;
	--radius-field: 2rem;
	--radius-box: 2rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 2px;
	--depth: 0;
	--noise: 0;
}

/* Smooth scroll behavior */
@layer base {
	html { scroll-behavior: smooth; font-family: "Avenir Next", "Avenir", "Arial", "sans-serif"; }
}

/* Disable transitions for reduced-motion users */
@media (prefers-reduced-motion: reduce) {
	.v-enter-active, .v-leave-active { transition: none !important; }
}
